.appHeader {
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 2px solid var(--light-grayish-blue);
}
